html{
	margin: 0px;
	padding: 0px;
	height: 100%;
}

body {
  background-color: #111111 !important;
  font-family: "Courier", sans-serif;
  font-weight: normal;
  color: #333333;
  font-size: 12px;
  line-height: 1.4;
  margin: 0px;
  padding: 0px;
}
 
/* @group Link Styling*/
 
a:link {
    color: #333333;
    font-weight: normal;
    text-decoration: none;
    transition:color 0.4s ease-in;
    /*font-weight: bold;*/
}
a:visited {
    color: #333333;
    text-decoration: none;
    transition:color 0.4s ease-in;
}
a:hover {
    color: #663e00;
    text-decoration: underline;
}
a:focus{
	-moz-outline-style: none;
	outline: none;
}
 
/* @end */
/* @group Main Page Styling*/

#Container{	
	width: 800px;
	margin: 0 auto;
	background-color: #f5f5f5;
	margin-top: 50px;
	margin-bottom: 15px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
 
#Header{
	height: 26px;
	width: 800px;
	background: url(./images/header.png) repeat-x;
	border-bottom: solid 1px #9d733d;
	text-shadow: 0 1px 0 rgba(255,255,255,0.4);
	-webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3);
	-moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3);
	box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3);
	color: #392000;
}

#Header a{
	color: #392000;
	text-decoration: none;
}

#Footer{
  width: 500px;
  margin: 0 auto;
  color: #aaaaaa;
  font-family: "Courier", sans-serif;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
  text-align: center;
  margin-bottom: 20px;
}

#Logo{
	float: left;
	margin-top: 6px;
	margin-left: 7px;
}

#PageContent{
	//background-color: #efefef;
	padding: 20px;
}

h3,
h4{
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 5px;
	-webkit-font-smoothing: antialiased;
}

p{
	margin: 0px;
	margin-bottom: 5px;
}

span{
	display: block;
	margin: 0px;
	margin-bottom: 2px;
	padding: 2px;
}

.Notice{
  	background-color: rgba(255, 191, 0, 0.1);
    border-bottom: solid 1px #ceb290;
    border-top: solid 1px #ceb290;
    padding: 5px;
    padding-left: 6px;
    color: #5e3200;
}
 
/* @end */
/* @group Navigation Styling */

#Navigation{
	list-style:none;
	padding: 0px;
	margin: 0px;
	float: right;
	text-align: right;
	margin-top: 6px;
	margin-right: 7px;
	height: 20px;
}
#Navigation li{
	list-style:none;
	display:inline;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 6px;
}
#Navigation li:hover,
#Navigation li.active{
  list-style:none;
  display:inline;
  padding-bottom: 6px;
	background: url(./images/indicator.png) no-repeat;
	background-position: center bottom;
	background-repeat: no-repeat;
}

/* @end */
/* @group Status bar */

.ui-progress-bar {
  position: relative;
  top: 3px;
  height: 14px;
  padding-right: 2px;
  background-color: #f1f1f1;
  width: 300px;
  display: inline-block;
    
  -webkit-box-shadow: inset 0px 0px 0px 1px #999999, inset 0px 1px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0px 0px 0px 1px #999999, inset 0px 1px 2px rgba(0,0,0,0.2); 
  box-shadow: inset 0px 0px 0px 1px #999999, inset 0px 1px 2px rgba(0,0,0,0.2); 
  
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.ui-progress {
	display: block;
	overflow: hidden;
	height: 12px;
	
	background-color: rgb(255,159,0);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(255,181,0)),
		color-stop(0.1, rgb(255,159,0)),
		color-stop(1, rgb(255,191,0))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(255,181,0) 0%,
		rgb(255,159,0) 10%,
		rgb(255,191,0) 100%
	);
	border: solid 1px #9d733d;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/* @end */
/* @group Table Styling*/

.list{
  background-color: #f1f1f1;
  border: #aaaaaa solid 1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

tr:nth-child(2n+2) td{
  background-color: #e8e8e8;
  border-bottom: #aaaaaa solid 1px;
}

tr:nth-child(2n+1) td{
  border-bottom: #aaaaaa solid 1px;
}

tr:last-child td{
  border-bottom: 0px;
}

tr:hover td{
	background-color: rgba(255, 191, 0, 0.1);
}

tr,
td,
th{
  border: none;
  padding: 5px;
  margin: 0px;
  vertical-align: text-top;
  line-height: 1.5em;
}

td.edit{
  font-family: 'Arial Rounded MT Bold';
  font-size: 25px;
  vertical-align: middle;
  text-align: center;
  line-height: 10px;
  padding-right: 5px;
}

td.edit a{
  color: #666666;
  display: block;
  padding: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
}

td.edit:hover a{
  color: #663e00;
  text-decoration: none;
}

/* @end */

 
/* Misc */
.clearfix:before,.clearfix:after{content:"\0020";display:block;height:0;visibility:hidden;}
.clearfix:after{clear:both;}
.clearfix{zoom:1px;}

.red
{
	color: #870002;
}

.left
{
	float: left;
}

.right
{
	float: right;
}